<div>
  <h1>%w, %W</h1>
  %w: <%= @res %> Class : <%= @res.class %><br />
  %W: <%= @res_1 %> Class : <%= @res_1.class %><br />
  <h1>%q, %Q</h1>
  %q: <%= @res1 %><br />
  %Q: <%= @res1_1 %>
  <h1>%r</h1>

  String:  match 999999월 asdf 으아으아1 z2<br />
  %r: <%= @res2 %><br />
  match res: <%= @res2_1 %><br />
  gsub res: <%= @res2_2 %><br /><br />
  %r: <%= @res2_3 %><br />
  gsub res: <%= @res2_4 %><br />
  regex: <%= @res2_5 %>
</div>
